<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- using filters in django template example: title to capatilize-->
    <title>Months</title>
  </head>
  <body>
    <ul>
      {% for month in months%}
      {% comment %} <li><a href="/challenges/{{month}}">{{month|title}}</a></li> {% endcomment %}
      <li><a href="{% url "month-challenge" month=month %}">{{month|title}}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
